<%- include("partials/header.ejs") %> 

     <%if (day === "day1"){ %>
        <h1><%= day %> </h1>

            <video width="20%" controls>
                <source src="/videos/Day1/day1WakeUp.MOV">
            </video>
            <p class="text"> 1er réveille</p>

            <br><br><br><br>

            <video width="20%" controls>
                <source src="/videos/Day1/day1Sport.MOV">
            </video>
            <p class="text"> départ à la salle de sport</p>

    <%}else if (day === "day2") { %>
        <h1><%= day %> </h1>

        <video width="20%" controls>
            <source src="/videos/Day2/reveille.MOV">
        </video>
        <p class="text"> 2ème réveille</p>

        <video width="20%" controls>
            <source src="/videos/Day2/depart.MOV">
        </video>
        <p class="text"> Départ à la salle de sport</p>

        <video width="20%" controls>
            <source src="/videos/Day2/retour.MOV">
        </video>
        <p class="text">Débrief retour de la salle</p>

    <%}else if (day === "day3") { %>
        <h1><%= day %> </h1>

        <video width="20%" controls>
            <source src="/videos/Day3/reveille.MOV">
        </video>
        <p class="text"> 3ème réveille dur dur...</p>

        <video width="20%" controls>
            <source src="/videos/Day3/weather.MOV">
        </video>
        <p class="text"> Rotterdam en hiver un plaisir !</p>

        <video width="20%" controls>
            <source src="/videos/Day3/petite_sieste.MP4">
        </video>
        <p class="text">1ère petite sieste !</p>

    <%}else if (day === "day4") { %>
        <h1><%= day %> </h1>

        <p>Pas encore disponible</p>

    <%}else if (day === "day5") { %>
        <h1><%= day %> </h1>

        <video width="20%" controls>
            <source src="/videos/Day5/reveille.MOV">
        </video>
        <p class="text"> 5ème réveille</p>


    <%}else if (day === "day6") { %>
        <h1><%= day %> </h1>

        <video width="20%" controls>
            <source src="/videos/Day6/réveil.MOV">
        </video>
        <p class="text"> 6ème réveille</p>

        <video width="20%" controls>
            <source src="/videos/Day6/retour salle.MOV">
        </video>
        <p class="text"> Retour de la salle de sport</p>

        <video width="20%" controls>
            <source src="/videos/Day6/barbe.MOV">
        </video>
        <p class="text">Barbe ou pas barbe tel est la question</p></p>

    <%}%>

</body>
